h1 {
    color:rgb(20, 20, 200);
    font-size: 100px;
    font-family:georgia;
}

h2 {
    color:rgb(20, 20, 200);
}

div {
    text-align:center;
}

img {
    border: double 10px rgb(20, 20, 200);
    border-radius: 80%;
}
